#barba-wrapper {
    transition: background-color .5s;
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: color(white);
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;

    @include desktop640 {
        padding-top: 15px;
    }

    a {
        padding: 8px 8px 8px 32px;
        text-decoration: none;
        font-family: $encode-sans;
        font-size: .7em;
        color: color(secondary);
        display: block;
        transition: 0.3s;

        @include desktop640 {
            font-size: 1.1em;

        }
    }

    a:hover {
        color: color(green);
    }
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

.nav-icon {
    position: fixed;
    z-index: 20;
    padding: 10px;
}

#barba-wrapper {
    transition: margin-left .5s;
}